.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maindiv {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(222, 222, 222);
}
.maindiv input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
}
button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(109, 109, 191);
}
